
.don-flex1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 470px;
  width: 1300px;
  margin-top:90px;
}

#don-div1{

  background-color:chocolate;
  border-radius: 10px;
  padding: 25px;
  width: 125px;
  height: 420px;
}

#don-div2{
  background-color:teal;
  border-radius: 10px;
  padding: 25px;
  width: 125px;
  height: 420px;
}

#don-div3{
  background-color:DarkSlateGrey;
  border-radius: 10px;
  padding: 25px;
  width: 125px;
  height: 420px;
}

button{
  cursor: pointer;
  height: 50px;
  width: 120px;
  padding:10px;
  border:1px solid white;
  border-radius: 30px;
  color: black;
  transition:all .3s ease-in-out;
}

#sup-div1{
  margin-top:50px;
  background-color: chocolate;

}

#sup-div1:hover{
  background-color: white;
  font-size: 15px;
  color: chocolate;
  font-weight: bold;
}

#sup-div2{
    margin-top:30px;
    margin-bottom: 10px;
  background-color: teal;
}

#sup-div2:hover{
  background-color: white;
  font-size: 15px;
  color: teal;
  font-weight: bold;
}

#sup-div3{
  margin-top:10px;
  margin-bottom: 10px;
  background-color: DarkSlateGrey;
}

#sup-div3:hover{
  background-color: white;
  font-size: 15px;
  color: DarkSlateGrey;
  font-weight: bold;
}


.mylink{
  text-decoration: none;
}
